language: ruby
script:
  - "rake gemspec"
  - "gem build puppet-qatools.gemspec"
  - "gem install puppet-qatools-0.4.1.gem"
rvm:
  - 1.8.7
  - 1.9.3
  - ruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
